.feedback-container__cards__card1
  span(class=cardClass)
  .feedback-container__cards__name= name
  .feedback-container__cards__job= job
  .feedback-container__cards__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus
