.book-room-container
  .book-room-container__title Check Availabitity
  .book-room-container__text Check In
  input(type='text' placeholder='20 January 2022')
  .book-room-container__text Check Out
  input(type='text' placeholder='21 January 2022')
  .book-room-container__text Full Name
  input(type='text' placeholder='Enter your name')
  .book-room-container__text Email
  input(type='email' placeholder='Enter your email')
  .book-room-container__text Phone
  input(type='number' placeholder='Enter your phone')
  .book-room-container__text Special Request
  input(type='text' placeholder='Enter your special requests')
  button(src='' alt='') CHECK AVAILABILITY
