.footer
    .footer__left
        p COPYRIGHT 2022 GUILLERMOMARTINEZ@GMONZON.COM
    .footer__right
        .footer__right__icon
            i.fab.fa-facebook-f
        .footer__right__icon
            i.fab.fa-linkedin
        .footer__right__icon
            i.fab.fa-twitter
        .footer__right__icon
            i.fab.fa-youtube
