nav.navbar-container
  .navbar-container__menu
    a.navbar-container__menu--links(href='/about') About Us
    a.navbar-container__menu--links(href='/rooms') Rooms
    a.navbar-container__menu--links(href='/offers') Offers
    a.navbar-container__menu--links(href='/news') News
    a.navbar-container__menu--links(href='/contact') Contact
  table
    tbody
      tr
        td
          .navbar-container__logo__h
        td
          a.navbar-container__logo__brand(href='/')
            .navbar-container__logo__brand--bold HOTEL
            .navbar-container__logo__brand--miranda MIRANDA
  table
    tbody
      tr
        td
          span.navbar-container__phoneIcon
            i.fas.fa-phone-square(aria-hidden='true')
        td
          .navbar-container__textPhone Phone Number
          .navbar-container__phone +34 608 48 54 48
  table
    tbody
      tr
        td
          span.navbar-container__mailIcon
            i.fas.fa-envelope-square(aria-hidden='true')
        td
          .navbar-container__textMail Email Address
          .navbar-container__mail guillermomartinez@gmonzon.com
  .navbar-container__bars
    i.fas.fa-bars(aria-hidden='true')

