.blog-home    
  .blog-home__blog-container
    .blog-home__blog-container__head
      .blog-home__blog-container__head__left
        .blog-home__blog-container__head__left__blog BLOG
        .blog-home__blog-container__head__left__news-feeds News Feeds
      .blog-home__blog-container__head__right
        .blog-home__blog-container__head__right__arrow <
        .blog-home__blog-container__head__right__arrow >
    .blog-home__blog-container__down
      .blog-home__blog-container__down__card  
        .blog-home__blog-container__down__card__image1
        .blog-home__blog-container__down__card__head
          .blog-home__blog-container__down__card__head__date 23 March 2021
          .blog-home__blog-container__down__card__head__space
          .blog-home__blog-container__down__card__head__author By Alice
        .blog-home__blog-container__down__card__title Each or our 8 double rooms has its own distinct.
        .blog-home__blog-container__down__card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus
      .blog-home__blog-container__down__card  
        .blog-home__blog-container__down__card__image2
        .blog-home__blog-container__down__card__head
          .blog-home__blog-container__down__card__head__date 22 January 2022
          .blog-home__blog-container__down__card__head__space
          .blog-home__blog-container__down__card__head__author By Peter
        .blog-home__blog-container__down__card__title Each or our 8 double rooms has its own distinct.
        .blog-home__blog-container__down__card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus
      .blog-home__blog-container__down__card  
        .blog-home__blog-container__down__card__image3
        .blog-home__blog-container__down__card__head
          .blog-home__blog-container__down__card__head__date 23 December 2021
          .blog-home__blog-container__down__card__head__space
          .blog-home__blog-container__down__card__head__author By Bob
        .blog-home__blog-container__down__card__title Each or our 8 double rooms has its own distinct.
        .blog-home__blog-container__down__card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metu
