.news-container__block__left__post
  .news-container__block__left__post__image
  .news-container__block__left__post__category Bussiness 
  .news-container__block__left__post__title Lorem ipsum the last news 
  .news-container__block__left__post__icons 232 view    35 Comments     2 January 2022 
  .news-container__block__left__post__text Russia-Ukraine crisis: Why Brussels fears Europe is 'closest to war' in decades Russia-Ukraine crisis: Why Brussels fears Europe is 'closest to war' in decades 
  .news-container__block__left__post__down
    .news-container__block__left__post__down
      .news-container__block__left__post__down__author  
        .news-container__block__left__post__down__author__image
        .news-container__block__left__post__down__author__name by Hetmanar
      .news-container__block__left__post__down__read-more Read more
