.room-card-container
  .room-card-container__image
  .room-card-container__card
    .room-card-container__card__items
      i.fas.fa-bed
      i.fas.fa-wifi
      i.fas.fa-car
      i.fas.fa-coffee
      i.fas.fa-concierge-bell
      i.fas.fa-dice
      i.fas.fa-compress-arrows-alt
    .room-card-container__card__title= room.room_name
    .room-card-container__card__text Lorem ipsum rooms bonita
    .room-card-container__card__book
      .room-card-container__card__book__price= `$${room.price}/night`
      button.room-card-container__card__book__booking Booking Now
          
