.subscribe
  .subscribe__container
    .subscribe__container__head
      .subscribe__container__head__logo
      .subscribe__container__head__right
        .subscribe__container__head__right__hotel HOTEL
        .subscribe__container__head__right__miranda MIRANDA
    .subscribe__container__text Miranda has everything for your trip & every single things. Subcribe to our Newsletter for our lastest news:
    .subscribe__container__mail ENTER YOUR EMAIL ADDRESS
      .subscribe__container__mail__button SUBSCRIBE
