.about-container{
    @include flexCenter(column);
    color: $grayColor1;
    width: 100%;
    &__first{
        background-color: $body_background_color;
        width: 1170px;
        &__video{
            margin-top: 120px;
        }
        &__title{
            font-family: "Scotch Modern Regular";
            color: black;
            font-size: 72px;
            margin-bottom: 38px;
            text-align: center;
            margin: 60px;
        }
        &__features{
            @include flexCenter(row);
            height: 200px;
            &__icon{
                @include cards();
                margin: 20px;
                background-color: white;
                color: $mainColor;
                height: 100%;
                width: 200px;
                &__text{
                    color: black;
                    font-size: 12px;
                }
                &:hover{
                    color: white;
                    background-color: $mainColor;
                    cursor: pointer;
                }
            }

        }
        &__tour{
            margin-top: 80px;
            @include flexCenter(row);
            background-color: white;
            box-shadow: $boxShadowCool;
            margin-bottom: 120px;
            &__image{
              height: 420px;
              width: 530px;  
              background-image: url("/images/shushi.jpg");
              background-position: center;
              background-repeat: no-repeat;
              background-origin: content-box;

            }
            &__right{
                width: 100%;
                margin-left: 58px;
                &__quote{

                }
                &__title{
                    margin-top: 27px;
                    font-family: "Scotch Modern Regular";
                    color: black;
                    font-size: 48px;

                }
                &__text{
                    font-size: 14px;
                    margin-top: 38px;
                }
                &__button{
                    margin-top: 14px;
                    height: 60px;
                    width: 216px;
                    color: white;
                    background-color: $mainColor;
                    &:hover{
                        cursor: pointer;
                        background-color: $mainColorDark;
                    }
                }
            }
        }
    }
    &__second{
        @include flexCenter(column);
        background-color: #222222;
        width: 100%;
        color: white;
        &__quote{
            font-size: 14px;
            letter-spacing: 2.8px;
            color: $grayColor1;
            letter-spacing: 2.8px;
            margin-top: 118px;
        }
        &__title{
            font-size: 80px;
            font-family: "Scotch Modern Regular";
            margin-bottom: 61px;
        }
        &__cards{
            @include flexCenter(row);
            flex-wrap: wrap;
            margin-left: 10%;
            margin-right: 10%;
            margin-bottom: 120px;
            &__card{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                background-color: #292929;
                height: 349px;
                width: 370px;
                margin: 15px;
                i{
                    color: $mainColor;
                    margin-left: 59px;
                    margin-bottom: 38px;
                }
                &__title{
                    font-family: "Scotch Modern Regular";
                    font-size: 30px;
                    margin-left: 59px;
                    margin-bottom: 38px;
                }
                &__text{
                    font-size: 14px;
                    margin-left: 59px;
                }
            }
        }
    }
    &__third{
        background-color: $body_background_color;
        @include flexCenter(column);
        &__main{
            &__images{
                margin-top: 87px;
                @include flexCenter(row);
                &__image1{
                  background-image: url("/images/room1.jpg");
                  background-position: center;
                  background-repeat: no-repeat;
                  background-origin: content-box;
                  margin-right: 10px;
                  width: 570px;
                  height: 400px;
                }
                &__image2{
                  background-image: url("/images/shushi.jpg");
                  background-position: center;
                  background-repeat: no-repeat;
                  background-origin: content-box;
                  width: 570px;
                  height: 400px;
                }

            }
            &__head{
                @include flexCenter(row);
                &__card{
                    background-color: white;
                    width: 370px;
                    height: 134px;
                    color: $mainColor;
                    margin: 5px;
                    @include flexCenter(row);
                    &__right{
                        color: $grayColor1;
                        margin-left: 8px;
                        &__number{
                            color: black;
                            font-size: 60px;
                            font-family: "Scotch Modern Regular";
                        }
                        &__text{
                        }
                    }
                }
            }    
        }

    }
}
