.call-to-action-container {
  @include flexCenter(column);

  &__card {
    @include flexCenter(row);
    margin-top: 50px;
    width: 55%;
    background-color: white;
    box-shadow: $boxShadowCool;

    @include mobile {
      flex-wrap: wrap;
      flex-direction: column;
      width: 98%;
    }

    &__left {
      @include flexCenter(column);
      align-items: flex-start;
      width: 30%;
      @include mobile {
        width: 90%;
        height: 90%;
      }
      &__text {
        color: $grayColor1;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1.5px;
      }
      &__title {
        color: black;
        font-family: $font-family1;
        font-size: 60px;
      }
      &__quote {
        margin-top: 10px;
        color: $mainColor;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
      }
      &__btn {
        margin-top: 20px;
        color: white;
        border: none;
        background-color: black;
        padding: 10px;
        padding-inline: 20px;
      }
    }

    &__right {
      @include flexCenter(column);
      padding-top: 30px;
      padding-bottom: 30px;
      width: 60%;
      @include mobile {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 90%;
      }
      &__block {
        @include flexCenter(row);
        flex-wrap: wrap;
        &__p {
          width: 60%;
          padding: 20px;
          padding-left: 40px;
          @include mobile {
            padding: 5px;
            padding-left: 8px;
          }
          //   padding-bottom: 20px;
          &__title {
            font-family: $font-family1;
            font-size: 25px;
          }
          &__text {
            color: $grayColor1;
          }
        }
        @mixin icons {
          text-align: center;
          width: 70px;
          box-shadow: $boxShadowCool;
          color: $mainColor;
          border-radius: 50%;
          padding-top: 20px;
          padding-bottom: 20px;
        }
        &__icon1 {
          @include icons();
        }
        &__icon2 {
          @include icons();
          color: white;
          background-color: $mainColor;
        }
        &__icon3 {
          @include icons();
        }
      }
    }
  }
  &__line {
    margin-top: 10px;
    width: 50%;
    height: 10px;
    background-color: $mainColor;
    @include mobile {
      width: 80%;
    }
  }
}
