.page-header{
    background-image: url("/images/r2 (copy).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    opacity: 0.6;
    height: 293px;
    width: 100%;
    color: white;
    text-shadow: $textShadow; 
    &__quote{
        font-size: 14px;
        margin-left: 372px;
        padding-top: 98px;
    }
    &__title{
        font-size: 72px;
        margin-left: 372px;
    }
}  
