.room-offer-card-container{
    margin: 10px;
    @include flexCenter(row);
    justify-content: space-between;
    width: 100%;
    background-color: white;
    &:hover{
        box-shadow: $boxShadowCool;
    }
    &__image{
        
        width: 35%;
        height: 240px;
        background-image: url("/images/room1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
    }
    &__card{
        justify-content: center;
        align-items: flex-end;
        margin-right: 25px;
        text-align: right;
        &__title{
            color: black;
            font-size: 24px;
        }
        &__text{
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 14px;
        }
        &__book{
            @include flexCenter(row);
            &__price{
                margin-left: 10px;
                font-weight: bold;
                color: #BEAD8E;
                font-size: 16px;
            }
            &__booking{
                margin-left: 10px;
                font-weight: bold;
                cursor: pointer;
                color: #BDBDBD;
                font-size: 16px;
            }
        }

    }

}

.room-card-container{
    height: 438px;
    width: 360px;
    color: $grayColor1;
    margin: 8px;
    background-color: white;
    &:hover{
        box-shadow: $boxShadowCool;
    }
    &__image{
        width: 100%;
        height: 240px;
        background-image: url("/images/room1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
    }
    &__card{
        background-color: white;
        width: 310px;
        position: relative;
        left: 20px;
        top: -20px;
        @include flexCenter(column);
        &__items{
            @include flexCenter(row);
            justify-content: space-around;
            height: 50px;
            width: 100%;
        }
        &__title{
            color: black;
            font-size: 24px;
        }
        &__text{
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 14px;
        }
        &__book{
            @include flexCenter(row);
            &__price{
                margin-left: 10px;
                font-weight: bold;
                color: #BEAD8E;
                font-size: 16px;
            }
            &__booking{
                margin-left: 10px;
                font-weight: bold;
                cursor: pointer;
                color: #BDBDBD;
                font-size: 16px;
            }
        }
    }
}
