.rooms-grid-container{
    @include flexCenter(column);
    @include mobile{
        width: 100%;
    }
    margin-left: 10%;
    width: 75%;
    margin-top: 20px;
    display: flex;
    &__grid{
        @include flexCenter(row);
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
}
.rooms-offers-container{
    @include flexCenter(column);
    @include mobile{
        width: 100%;
    }
    margin-left: 10%;
    width: 80%;
    margin-top: 20px;
    display: flex;
    &__list{
        @include flexCenter(column);
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
}

.book-room-container{
    background-color: white;
    @include flexCenter(column);
    align-items: flex-start;
    width: 100%;
    color: black;
    &__title{
        align-self: center;
        margin-top: 36px;
        font-weight: bold;
        font-size: 18px;
    }
    &__text{
        margin-left: 40px;
        margin-top: 26px;
        font-weight: bold;
        font-size: 14px;
    }
    &__date{
        margin-inline: 40px;
       width: 290px;
    }
    button{
        align-self: center;
        margin: 10px;
        @include btn_brown();
    }
    input{
        margin-inline: 40px;
       height: 60px;
       width: 290px;
       border: none;
       background: none;
    }
}


.room-details-container{
    @include flexCenter(row);
    align-items: flex-start;
    &__left{
        margin-top: 100px;
        margin-right: 30px;
        width: 700px;
        flex-direction: column;
        &__cardHead{
            @include flexCenter(row);
            width: 90%;
            height: 140px;
            margin-left: 20px;
            position: relative;
            z-index: 1;
            background-color: white;
            justify-content: space-between;
            &__left{
                @include flexCenter(column);
                align-items: flex-start;
                &__type{
                    margin-left: 40px;
                    @include quote();
                }
                &__title{
                    margin-left: 40px;
                    @include title();
                    font-size: 48px;
                }
            }
            &__price{
                justify-content: flex-end;
                margin-right: 10px;
                @include price();
            }
        }
        &__roomImage{
            position: relative;
            z-index: 0;
            width: 100%;
            height: 490px;
            margin-top: -30px;
            background-image: url('/images/r1.jpg');
            background-position: cover;
        }
        &__description{
            margin-top: 50px;
            font-size: 16px;
        }
        &__amenities{
            @include flexCenter(column);
            margin-top: 40px;
            background-color: white;
            width: 95%;
            &__title{
                @include title();
                align-self: flex-start;
                font-size: 30px;
                margin-top: 49px;
                margin-left: 49px;

            }
            &__columns{
                width: 100%;
                @include flexCenter(row);
                justify-content: space-around;
                &__column{
                    @include flexCenter(column);
                    margin: 30px;
                    justify-content: center;
                    align-items: flex-start;
                    &__row{
                        i{
                            width: 27px;
                            height: 27px;
                            color: $mainColor;
                        }
                        @include flexCenter(row);
                        &__text{
                            margin-left: 8px;
                            color: $grayColor1;
                            white-space: nowrap;
                            font-size:16px;
                        }
                    }
                }
            }
        }
    }
    &__right{
        margin-top: 100px;
        width: 370px;
    }
}

