.title1{
    &__quote{
        text-align: left;
        letter-spacing: 2.8px;
        color: #777777;
        margin-bottom: 26px;
        margin-top: 118px;
    }
    &__title{
        text-align: left;
        letter-spacing: -2.4px;
        color: #222222;
        font-size: 80px;
        font-family: "Scotch Modern Regular";
        margin-bottom: 85px;
    }
}
