@import "./variables";
@import "./Navbar";
@import "./footer";
@import "./HeaderHome";
@import "./FeaturesHome";
@import "./LodgingHome";
@import "./CallToAction";
@import "./SliderHome";
@import "./TourHome";
@import "./Feedback";
@import "./NineHome";
@import "./blog-home";
@import "./newsletter-home";
@import "./header";
@import "./roomCard";
@import "./rooms";
@import "./about";
@import "./title";
@import "./Contact";
@import "./news";
@import "./media-queries";

// .App {
//   // flex-direction: column;
//   // align-content: center;
//   // align-items: center;
// }

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

button{
 border: none;
 background: none;
}

.body {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin: none;
  padding: 0;
}

:root {
  box-sizing: border-box;
  background: $body_background-color;
  // font-family: "Kumbh Sans", sans-serif;
  font-family: $font-family1;
}

.a {
  text-decoration: none;
}

@font-face {
  font-family: "Scotch Modern Regular";
  src: url("./fonts/ScotchModern.ttf") format("opentype");
}

@font-face {
  font-family: "monotype-modern-std-condensed";
  src: url("./fonts/ModernMTStd-Condensed.otf") format("opentype");
}

