extends ../layout.pug
block content
  - var title = 'About Us'
  - var quote = 'THE ULTIMATE LUXURY'
  include ../header.pug
  .about-container
    .about-container__first
      .about-container__first__video
        iframe(type='text/html' width='1170' height='650'
    src='https://www.youtube.com/embed/3E9OpeB9u8E'
    frameborder='0')
      .about-container__first__title Hello. Our hotel has been present for over 20 years. We make the best for all costumers 
      .about-container__first__features
        .about-container__first__features__icon
          i.fas.fa-coffee.fa-3x   
          p.about-container__first__features__icon__text BREAKFAST
        .about-container__first__features__icon
          i.fas.fa-plane.fa-3x    
          p.about-container__first__features__icon__text AIRPORT PICKUP
        .about-container__first__features__icon
          i.fas.fa-city.fa-3x    
          p.about-container__first__features__icon__text CITY GUIDE
        .about-container__first__features__icon
          i.fas.fa-hotdog.fa-3x    
          p.about-container__first__features__icon__text BBQ PARTY
        .about-container__first__features__icon
          i.fas.fa-warehouse.fa-3x   
          p.about-container__first__features__icon__text LUXURY ROOM
      .about-container__first__tour 
        .about-container__first__tour__image 
        .about-container__first__tour__right 
          .about-container__first__tour__right__qoute RESTAURANT 
          .about-container__first__tour__right__title Get Restaurant Facilities & Many Other More
          .about-container__first__tour__right__text Lorem ipsum text Lorem ipsum text Lorem ipsum text LLLorem ipsum text Lorem ipsum text Lorem ipsum text orem ipsum text Lorem ipsum text Lorem ipsum tex orem ipsum text Lorem ipsum text Lorem ipsum text 

          button.about-container__first__tour__right__button TAKE A TOUR 
    .about-container__second
      .about-container__second__quote FACILITIES
      .about-container__second__title Core Features 
      .about-container__second__cards
        .about-container__second__cards__card
          i.fas.fa-star.fa-3x   
          .about-container__second__cards__card__title Have High Rating
          .about-container__second__cards__card__text Lorem ipsum text etc etc
        .about-container__second__cards__card
          i.fas.fa-clock.fa-3x   
          .about-container__second__cards__card__title Quite Hours
          .about-container__second__cards__card__text Lorem ipsum text etc etc
        .about-container__second__cards__card
          i.fas.fa-warehouse.fa-3x   
          .about-container__second__cards__card__title Best Locations
          .about-container__second__cards__card__text Lorem ipsum text etc etc
        .about-container__second__cards__card
          i.fas.fa-user-clock.fa-3x   
          .about-container__second__cards__card__title Free Cancellation
          .about-container__second__cards__card__text Lorem ipsum text etc etc
        .about-container__second__cards__card
          i.fas.fa-credit-card.fa-3x   
          .about-container__second__cards__card__title Payment Options
          .about-container__second__cards__card__text Lorem ipsum text etc etc
        .about-container__second__cards__card
          i.fas.fa-percent.fa-3x   
          .about-container__second__cards__card__title Special Offers
          .about-container__second__cards__card__text Lorem ipsum text etc etc
    .about-container__third
      .about-container__third__main
        - var quote= 'COUNTER'
        - var title= 'Some Fun Facts'
        include ../title.pug
        // .about-container__third__main__head1
        //   .about-container__third__main__head1__quote COUNTER 
        //   .about-container__third__main__head1__title Some Fun Facts
        .about-container__third__main__head 
          .about-container__third__main__head__card 
            i.fas.fa-percent.fa-2x    
            .about-container__third__main__head__card__right    
              .about-container__third__main__head__card__right__number 8000 
              .about-container__third__main__head__card__right__text Happy Users
          .about-container__third__main__head__card 
            i.fas.fa-percent.fa-2x    
            .about-container__third__main__head__card__right    
              .about-container__third__main__head__card__right__number 10M 
              .about-container__third__main__head__card__right__text Reviews & Appriciate
          .about-container__third__main__head__card 
            i.fas.fa-percent.fa-2x    
            .about-container__third__main__head__card__right    
              .about-container__third__main__head__card__right__number 100
              .about-container__third__main__head__card__right__text Country Coverage
        .about-container__third__main__images 
          .about-container__third__main__images__image1  
          .about-container__third__main__images__image2  
        .about-container__third__main__quote2 
        .about-container__third__main__title2
  include ../newsFeeds.pug            

