extends ../layout.pug

block content
    #root
      .App
        .header-container
          .header-container__top
            .header-container__top__left
              h2.header-container__top__left__header THE ULTIMATE LUXURY EXPERIENCE
              h1.header-container__top__left__title
                | The Perfect
                br
                | Base For You
              .header-container__top__left__buttons
                button.header-container__top__left__buttons--btnLeft TAKE A TOUR
                button.header-container__top__left__buttons--btnRight LEARN MORE
            .header-container__top__right
          .header-book-container
            .header-book-container__card
              p.header-book-container__card__text CHECK IN
              .header-book-container__card__down
                p.header-book-container__card__down__number 24
                p.header-book-container__card__down__month JAN
            .header-book-container__card
              p.header-book-container__card__text CHECK OUT
              .header-book-container__card__down
                p.header-book-container__card__down__number 29
                p.header-book-container__card__down__month JAN
            .header-book-container__bookNow
              span.header-book-container__bookNow__icon
                i.far.fa-calendar-alt.fa-3x(aria-hidden='true')
              .header-book-container__bookNow__right
                button.header-book-container__bookNow__right__text Get in Touch
                button.header-book-container__bookNow__right__bookNow Book Now
          .separator-header
            i.fas.fa-arrow-alt-circle-down.fa-2x(aria-hidden='true')
        .features-home-container
          .features-home-container__since
            .features-home-container__since__since SINCE
            .features-home-container__since__year 1994
          .features-home-container__title Situated In Prime Position At The Foot Of The Slopes Of Courchevel Moriond.
          .features-home-container__cards
            .features-home-container__cards--cardUp
                i.fas.fa-coffee.fa-3x
                p BREAKFAST 
            .features-home-container__cards--cardMed
                i.fas.fa-plane-departure.fa-3x
                p AIRPOT PICKUP
            .features-home-container__cards--cardDown
                i.fas.fa-street-view.fa-3x
                p CITY GUIDE 
            .features-home-container__cards--cardMed
                i.fas.fa-hamburger.fa-3x
                p BBQ PARTY 
            .features-home-container__cards--cardUp
                i.fas.fa-star.fa-3x
                p LUXURY ROOM 
        .lodging-container
          .lodging-container__box
            .lodging-container__box__text ROOM TYPE
            nav.lodging-container__box__nav
              .lodging-container__box__nav__title Inspired Lodging
              .lodging-container__box__nav__menu
                a.lodging-container__box__nav__menu--links(href='/') Luxury
                a.lodging-container__box__nav__menu--links(href='/') Family
                a.lodging-container__box__nav__menu--links(href='/') Double Bed
                a.lodging-container__box__nav__menu--links(href='/') Relax
            .lodging-container__box__grid
              .lodging-container__box__grid__left
                .lodging-container__box__grid__left__top
                  .lodging-container__box__grid__left__top__card1
                  .lodging-container__box__grid__left__top__card2
                .lodging-container__box__grid__left__down
              span.lodging-container__box__grid__right
          button.lodging-container__btn VIEW ALL ROOMS
        .call-to-action-container
          .call-to-action-container__card
            .call-to-action-container__card__left
              .call-to-action-container__card__left__text CALL TO ACTION
              .call-to-action-container__card__left__title The Thin Escape.
              .call-to-action-container__card__left__quote Miranda has everything for your trip & every single things.
              button.call-to-action-container__card__left__btn TAKE A TOUR
            .call-to-action-container__card__right
              .call-to-action-container__card__right__block
                .call-to-action-container__card__right__block__icon1
                  i.fas.fa-plane.fa-2x(aria-hidden='true')
                .call-to-action-container__card__right__block__p
                  .call-to-action-container__card__right__block__p__title Easy & Free Transport
                  .call-to-action-container__card__right__block__p__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus.
              .call-to-action-container__card__right__block
                .call-to-action-container__card__right__block__icon2
                  i.fas.fa-utensils.fa-2x(aria-hidden='true')
                .call-to-action-container__card__right__block__p
                  .call-to-action-container__card__right__block__p__title Clean & Fresh Food
                  .call-to-action-container__card__right__block__p__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus.
              .call-to-action-container__card__right__block
                .call-to-action-container__card__right__block__icon3
                  i.fas.fa-swimming-pool.fa-2x(aria-hidden='true')
                .call-to-action-container__card__right__block__p
                  .call-to-action-container__card__right__block__p__title.
                    Play Ground & Swiming Pool
                    
                  .call-to-action-container__card__right__block__p__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus.
          span.call-to-action-container__line
        .sliderhome-container
          .sliderhome-container__card
            .sliderhome-container__card__icon
            .sliderhome-container__card__title Luxury Room
            .sliderhome-container__card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna.
            .sliderhome-container__card__lines
              span.sliderhome-container__card__lines__line
              span.sliderhome-container__card__lines__line
              span.sliderhome-container__card__lines__line
          .sliderhome-container__grid
            .sliderhome-container__grid__img1
            .sliderhome-container__grid__img3
            .sliderhome-container__grid__img3
            .sliderhome-container__grid__img4
            .sliderhome-container__grid__img5
        .tourhome-container
          .tourhome-container__box
            .tourhome-container__box__left
              .tourhome-container__box__left__tour TAKE A TOUR
              .tourhome-container__box__left__title Discover our Underground.
              .tourhome-container__box__left__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus.
              button.tourhome-container__box__left__btn BOOK NOW
            iframe.tourhome-container__box__right(src='https://www.youtube.com/embed/Bu3Doe45lcU', title='YouTube video player', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen).
              
              
        .feedback-container
          .feedback-container__testimonial TESTIMONIALS
          .feedback-container__title Client Feedback
          .feedback-container__cards
            - var cardClass = "feedback-container__cards__card1__face"
            - var name = "Rosalina D. William"
            - var job = "FOUNDER, QUX CO."
            include ../aboutCard.pug
            - var cardClass = "feedback-container__cards__card2__face"
            - var name = "Donald H. Hilixer"
            - var job = "FOUNDER, HILIX"
            include ../aboutCard.pug
            - var cardClass = "feedback-container__cards__card3__face"
            - var name = "Browfish Dumble"
            - var job = "FOUNDER, CONDO"
            include ../aboutCard.pug
        .ninehome-container
          .ninehome-container__block
            .ninehome-container__block__quote OUR ROOMS
            .ninehome-container__block__title Each of our nine lovely double guest rooms feature a private bath, wi-fi, cable television and include full breakfast.
            .ninehome-container__block__btns
              button.ninehome-container__block__btns__btn1 TAKE A TOUR
              button.ninehome-container__block__btns__btn2 PACKAGE & POLICY
          .ninehome-container__img1
          .ninehome-container__img2
          .ninehome-container__img3
        include ../newsFeeds.pug
        include ../subscribe.pug




