extends ../layout.pug
block content
  - var title = 'Our News'
  - var quote = 'THE ULTIMATE LUXURY'
  include ../header.pug
  .news-container
    .news-container__block
      .news-container__block__left
        include ../postCard.pug
        include ../postCard.pug
        include ../postCard.pug
      .news-container__block__right
        .news-container__block__right__about-me
          .news-container__block__right__about-me__about-me About me
          .news-container__block__right__about-me__image
          .news-container__block__right__about-me__title Rosalina D. Willson
          .news-container__block__right__about-me__text Lorem ipsum Catalina Lorem ipsum Wilson Lorem ipsum
          .news-container__block__right__about-me__icons
            i.fab.fa-facebook
            i.fab.fa-twitter
            i.fab.fa-linkedin
            i.fab.fa-youtube
        .news-container__block__right__search 
          .news-container__block__right__search__title Search Objects 
          .news-container__block__right__search__card 
            input.news-container__block__right__search__card__input(type='text' placeholder='Search your keyword...') 
            button.news-container__block__right__search__card__button
              i.fas.fa-search.fa-2x
        .news-container__block__right__feed 
          .news-container__block__right__feed__title Popular Feeds 
          .news-container__block__right__feed__post 
            .news-container__block__right__feed__post__image 
            .news-container__block__right__feed__post__right 
              .news-container__block__right__feed__post__right__title Lorem ipsum the best news
              .news-container__block__right__feed__post__right__date 2 January 2022
          .news-container__block__right__feed__post 
            .news-container__block__right__feed__post__image 
            .news-container__block__right__feed__post__right 
              .news-container__block__right__feed__post__right__title Lorem ipsum the best news
              .news-container__block__right__feed__post__right__date 2 January 2022
          .news-container__block__right__feed__post 
            .news-container__block__right__feed__post__image 
            .news-container__block__right__feed__post__right 
              .news-container__block__right__feed__post__right__title Lorem ipsum the best news
              .news-container__block__right__feed__post__right__date 2 January 2022
          .news-container__block__right__feed__post 
            .news-container__block__right__feed__post__image 
            .news-container__block__right__feed__post__right 
              .news-container__block__right__feed__post__right__title Lorem ipsum the best news
              .news-container__block__right__feed__post__right__date 2 January 2022
          .news-container__block__right__feed__post 
            .news-container__block__right__feed__post__image 
            .news-container__block__right__feed__post__right 
              .news-container__block__right__feed__post__right__title Lorem ipsum the best news
              .news-container__block__right__feed__post__right__date 2 January 2022
