extends ../layout.pug
block content
  - var title = 'Ultimate Room'
  - var quote = 'THE ULTIMATE LUXURY'
  include ../header.pug
  .rooms-offers-container
    .rooms-offers-container__list 
      each room in rooms
        include ../roomOfferCard.pug
  include ../subscribe.pug
