extends ../layout.pug
block content
  - var title = 'Rooms Details'
  - var quote = 'THE ULTIMATE LUXURY'
  include ../header.pug
  .room-details-container
    .room-details-container__left
      .room-details-container__left__cardHead
        .room-details-container__left__cardHead__left
          .room-details-container__left__cardHead__left__type= room.type    
          .room-details-container__left__cardHead__left__title= room.name
        .room-details-container__left__cardHead__price= `$${room.price}/night`
      .room-details-container__left__roomImage      
      .room-details-container__left__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      .room-details-container__left__amenities
        .room-details-container__left__amenities__title Amenities
        .room-details-container__left__amenities__columns
          .room-details-container__left__amenities__columns__column
            .room-details-container__left__amenities__columns__column__row
              i.fas.fa-wind
              .room-details-container__left__amenities__columns__column__row__text Air Conditioner
            .room-details-container__left__amenities__columns__column__row
              i.fas.fa-utensils
              .room-details-container__left__amenities__columns__column__row__text Breakfast
            .room-details-container__left__amenities__columns__column__row
              i.fas.fa-broom
              .room-details-container__left__amenities__columns__column__row__text Cleaning
            .room-details-container__left__amenities__columns__column__row
              i.fas.fa-shopping-bag
              .room-details-container__left__amenities__columns__column__row__text Grocery
            .room-details-container__left__amenities__columns__column__row
              i.fas.fa-shopping-cart
              .room-details-container__left__amenities__columns__column__row__text Shop Near
          .room-details-container__left__amenities__columns__column
            .room-details-container__left__amenities__columns__column__row
              i.fas.fa-wifi
              .room-details-container__left__amenities__columns__column__row__text High Speed Wifi
            .room-details-container__left__amenities__columns__column__row
              i.fas.fa-hamburger
              .room-details-container__left__amenities__columns__column__row__text Kitchen
            .room-details-container__left__amenities__columns__column__row
              i.fas.fa-shower
              .room-details-container__left__amenities__columns__column__row__text Shower
            .room-details-container__left__amenities__columns__column__row
              i.fas.fa-bed
              .room-details-container__left__amenities__columns__column__row__text Single Bed
            .room-details-container__left__amenities__columns__column__row
              i.fas.fa-recycle
              .room-details-container__left__amenities__columns__column__row__text Towels
          .room-details-container__left__amenities__columns__column
            .room-details-container__left__amenities__columns__column__row
              i.fas.fa-lock
              .room-details-container__left__amenities__columns__column__row__text Strong Locker
            .room-details-container__left__amenities__columns__column__row
              i.fas.fa-shield-alt
              .room-details-container__left__amenities__columns__column__row__text Smart Security
            .room-details-container__left__amenities__columns__column__row
              i.fas.fa-question
              .room-details-container__left__amenities__columns__column__row__text 24/7 Online Support
            .room-details-container__left__amenities__columns__column__row
              i.fas.fa-envelope
              .room-details-container__left__amenities__columns__column__row__text Expert Team
      .feedback-container__cards
        - var cardClass = "feedback-container__cards__card1__face"
        - var name = "Rosalina D. William"
        - var job = "FOUNDER, QUX CO."
        include ../aboutCard.pug
        - var cardClass = "feedback-container__cards__card2__face"
        - var name = "Donald H. Hilixer"
        - var job = "FOUNDER, HILIX"
        include ../aboutCard.pug
    .room-details-container__right
      include ../bookRoom.pug
